{# app/Resources/views/activities.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Activitées{% endblock %}

{% block body %}
	<h1>Activitée 1</h1><br>
	<h1>Activitée 2</h1><br>
	<h1>Activitée 3</h1><br>

{% endblock %}