{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Cesi BDE Toulouse{% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  {% endblock %}
    
</head>
<body>


  {% block header %}
  <nav class="navbar navbar-danger" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/17973929_1460709047344100_4463989365695171154_o.jpg?oh=1fc1cd4fea8dc0808184a9079d7ae8ff&oe=597DE3C5        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> <img src="http://www.cesi.fr/_uploads/images/M%C3%A9dias%20portail.cesi/bloc1/logo-groupeCesi.png" alt="Logo_page" title="Accueil" id="logo"/>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex2-collapse">
    <ul class="nav navbar-nav" id ='navbartop'>
        <li class="active"><a href="/home">Accueil</a></li>
        <li class="dropdown activite">
          <a href="/activities" class="dropdown-toggle1" data-toggle="dropdown">
            Mes activités <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-danger">
            <li><a href="#">Activité 1</a></li>
            <li><a href="#">Activité 2</a></li>
            <li><a href="#">Activité 3</a></li>
            <hr/>
            <li><a href="#">Proposer une activité</a></li>
          </ul>
        </li>
        <li class="dropdown club">
          <a href="/clubs" class="dropdown-toggle1" data-toggle="dropdown">
            Mes clubs <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-danger">
            <li><a href="#">Club 1</a></li>
            <li><a href="#">Club 2</a></li>
            <li><a href="#">Club 3</a></li>            
            <hr/>
            <li><a href="#">Proposer un Club</a></li>
          </ul>
        </li>
        <li class="active"><a href="/shop">Boutique</a></li>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="navbar-link" onclick="toggleForm()">Se connecter {% if app.session.get('username') is defined %} {{ app.session.get('username') }} {% endif %}</a></li>
      </ul>
      <form id="formulaireConnexion" method="post" action="users">
   <label for="email">Votre Email :</label>
   <input type="text" name="Email" id="Email"/>
   <br />
   <label for="pass">Votre mot de passe :</label>
   <input type="password" name="pass" id="pass" onsubmit="" />
   <button type="submit" value="Envoyer">Envoyer</button>
   <br>  
   <a href="/register">Pas encore inscrit ?</a></br>
 </form>

    </div>
  </div>
</nav>
{% endblock %}







<script type="text/javascript">

    function toggleForm(){
    // on réccupère l'élément form.
    var formulaire = document.getElementById('formulaireConnexion');
  
    // Condition pour afficher/cacher le formulaire en fonction de son état
    if(formulaire.style.display == 'block'){
        formulaire.style.display = 'none';
    }else{
        formulaire.style.display = 'block';
    }
}
    

</script>



{% block body %}
{% endblock %}





{% block footer %}
<div id="footer">
  <footer id="myFooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h5>C'est parti</h5>
          <ul>
            <li><a href="#">Acceuil</a></li>
            <li><a href="#">Connexion</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h5>A propos de nous</h5>
          <ul>
            <li><a href="#">Le Cesi ?</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div class="social-networks">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <!-- Here we use the Google Embed API to show Google Maps. -->
      <!-- In order for this to work in your project you will need to generate a unique API key.  -->
      <iframe id="map-container" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9Nav2oyIkSDRbaJDqEqGdi0DkrR9oKcs&q=Campus+Cesi+Toulouse" >
    </iframe>
  </div>
  
  <div class="footer-copyright">
    <p>© 2017 Copyright Text </p>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
{% endblock %}

</body>
