{# app/Resources/views/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}
	<h1>Event 1</h1><br>
	<h1>Event 2</h1><br>
	<h1>Event 3</h1><br>

{% endblock %}