{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Exia BDE Toulouse{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<h1>Création activité :</h1>
<br>

{{ form_start(form) }}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{{ form_errors(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


</body>