



{% block body %}


  {# S'il y a une erreur, on l'affiche dans un joli cadre #}



  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}

  <form action="{{ path('login_check') }}" method="post">

    <label for="email">Email :</label>

    <input type="text" id="email" name="email"  />


    <label for="password">Mot de passe :</label>

    <input type="password" id="pass" name="pass" />

    <br />

    <input type="submit" value="Connexion" />

  </form>

{% endblock %}